{% extends "base.html" %}

{% block main %}
<section>
    <h2>Contribute code</h2>
    <div>Thank you for your interest. We are still formalizing our contributor guidelines and getting ready to build maintainer community. Until then, please join us in the <a href="https://gitlab.com/skteching/Sketchingpy">repository</a> after reading the <a href="https://gitlab.com/skteching/Sketchingpy/-/blob/main/README.md?ref_type=heads">README</a>. PRs welcome. Not sure where to begin, drop us a line at <a href="mailto:hello@sketchingpy.org">hello@sketchingpy.org</a>. We'd love to get your perspective. Thanks!</div>
</section>
{% endblock %}