{% extends "base.html" %}

{% block main %}
<section>
    <h2>Discord</h2>
    <div>We are still getting the Discord ready for prime time. Want to join when its ready? Drop us a line at <a href="mailto:hello@sketchingpy.org">hello@sketchingpy.org</a>. Thanks!</div>
</section>
{% endblock %}