{% extends "base.html" %}

{% block main %}
<section>
    <h2>Document</h2>
    <div>Thank you so much for your interest in contributing. We are interested in documentation and examples! Unforutnately, we are still formalizing our contributor guidelines but, until then, please send us a note at <a href="mailto:hello@sketchingpy.org">hello@sketchingpy.org</a> to express your interest. Thanks!</div>
</section>
{% endblock %}