{% extends "base.html" %}

{% block main %}
<section>
    <h2>Issues</h2>
    <div>"Issues" are the formal way to highlight potential bugs and suggest new features. We are still formalizing our contributor guidelines and issue template but, until then, please feel free to add directly to our <a href="https://gitlab.com/skteching/Sketchingpy/-/issues">issue tracker</a>.</div>
</section>
{% endblock %}