{% extends "base.html" %}

{% block main %}
<section>
    <h2>Showcase</h2>
    <div>We are looking for some work to feature in the showcase before its official opening. Have a piece? Get in touch at <a href="mailto:hello@sketchingpy.org">hello@sketchingpy.org</a>. Thanks!</div>
</section>
{% endblock %}