@font-face {
    font-family: 'IBMPlexMono-Regular';
    src: url('../IBMPlexMono-Regular.ttf')  format('truetype');
}

body {
    margin: 10px;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

header .subtitle {
    margin-bottom: 5px;
}

header #loaded-msg {
    display: none;
}

html {
    background-color: #F0F0F0;
    font-family: "IBMPlexMono-Regular", sans-serif;
}

#editor {
    min-height: 400px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-top: 10px;
    font-family: "IBMPlexMono-Regular";
}

#runtime-error-display {
    display: none;
    color: white;
    background-color: #C00000;
    border-radius: 5px;
    padding: 5px;
}

.split-view section {
    border: 1px solid #E0E0E0;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 20px;
}

.split-view section h2 {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.split-view .canvas-holder canvas {
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

@media (max-width: 700px) {
    .split-view section {
        margin-bottom: 20px;
    }
}

@media (min-width: 700px) {
    .split-view {
        display: grid;
        grid-template-columns: 25% 75%;
    }
}

@media (min-width: 900px) {
    .split-view {
        display: grid;
        grid-template-columns: 40% 59%;
        grid-column-gap: 1%;
    }
}

@media (min-width: 1100px) {
    .split-view {
        grid-template-columns: 50% 48%;
        grid-column-gap: 2%;
    }
}
