<!doctype html>
<html>
<head lang="en_US">
    <meta charset="UTF-8">
    <title>Sketching.py: {{ title }}</title>
    <link rel="stylesheet" href="/css/base.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if enable_pyscript %}
    <link rel="stylesheet" href="/third_party/core.css" />
    <link rel="stylesheet" href="/css/editor.css" />
    <script type="module" src="/third_party/core.js"></script>
    {% endif %}
    {% block style %}{% endblock %}
</head>
<body>
    {% if enable_pyscript %}
    <py-config>
    {
        "packages": ["sketching==0.0.2"]
    }
    </py-config>
    {% endif %}

    <div class="in-dev-message">🚧 Sketching.py and its website are under construction. More soon!</div>
    <header>
        <a href="#main" class="skip-link">Skip to content</a>
        <h1>Sketching.py</h1>
        <div class="subtitle">Creative coding everywhere for everyone: <a href="/guides/start.html#web">web</a>, <a href="/guides/start.html#local">desktop</a>, <a href="/guides/start.html#mobile">mobile</a>, <a href="/guides/start.html#notebook">Jupyter</a>, and <a href="/guides/start.html#static">more</a>.</div>
    </header>
    <nav>
        {% for section in sections %}
        <div class="item"><a href="{{ section['url'] }}" {% if current_section == section['section'] %}class="selected" aria-selected="true"{% else %}aria-selected="false"{% endif %}>{{ section['label'] }}</a></div>
        {% endfor %}
    </nav>
    <main id="#main">
        {% block main %}{% endblock %}
    </main>

    {% block script %}{% endblock %}
    {% if enable_pyscript %}
    <script type="module" src="/js/editor.js"></script>
    {% endif %}

</body>
</html>
