{% extends "base.html" %}

{% block main %}
<section>
    <h2>Community</h2>
    <div>Get inspired and get involved.</div>

    <section class="gallery">
        <div class="item">
            <div class="image-holder">
                <img src="/img/discord.png" alt="Picture of the discord logo.">
            </div>
            <div class="description">
                Get in touch, exchange ideas, and discuss in our Discord community.
            </div>
            <div class="action">
                <a href="/community/discord.html" class="button">Join</a>
            </div>
        </div>
        <div class="item">
            <div class="image-holder">
                <img src="/img/document.png" alt="Pixel art of a witch reading a book with a black cat in the background.">
            </div>
            <div class="description">
                Contribute documentation and examples.
            </div>
            <div class="action">
                <a href="/community/document.html" class="button">Write</a>
            </div>
        </div>
        <div class="item">
            <div class="image-holder">
                <img src="/img/shapes_arc.png" alt="Pictures of a few different arcs.">
            </div>
            <div class="description">
                Add work to our community showcase.
            </div>
            <div class="action">
                <a href="/community/showcase.html" class="button">Submit</a>
            </div>
        </div>
        <div class="item">
            <div class="image-holder">
                <img src="/img/issue.png" alt="Screenshot of the new issue form.">
            </div>
            <div class="description">
                Provide feedback and let us know about bugs.
            </div>
            <div class="action">
                <a href="/community/issue.html" class="button">Report</a>
            </div>
        </div>
        <div class="item">
            <div class="image-holder">
                <img src="/img/code.png" alt="Pixel art of a man and a dog doing a high five.">
            </div>
            <div class="description">
                Contribute code back to Sketching.py.
            </div>
            <div class="action">
                <a href="/community/code.html" class="button">Volunteer</a>
            </div>
        </div>
    </section>
</section>
{% endblock %}