{% extends "base.html" %}

{% block main %}
<section>
    <h2>Online editor</h2>
    <div>We are still working on the more feature-rich browser-based editor. Until then, please use the slimmed down <a href="/examples/web/example.html">example sketchbook</a> to experiment with Sketching.py in your browser.</div>
</section>
{% endblock %}