{% extends "base.html" %}

{% block main %}
<section>
    <h2>Reference</h2>
    <div>We are still building out the reference. We hope you will like it! Until then, check out the <a href="/examples.html">examples</a>.</div>
</section>
{% endblock %}