.catch {
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 200%;
}

.catch .word {
    background-color: #333333;
    color: white;
    padding: 5px;
}
